.appContainer__SideBar {
  /* outline: 1px solid var(--border-color); */
  border-right: 1px solid var(--border-color);
  width: 30%;
  position: sticky;
  top: 0rem;
  height: 100dvh;
  /* background-color: rgba(103, 74, 122, 0.575); */
}
.pinElements {
  overflow-y: auto;
  height: 73vh;
  padding: 0 1rem 1rem;
}

/* 1. Definimos el ancho del scrollbar (el "carril") */
.pinElements::-webkit-scrollbar {
  width: 3px; /* Muy delgado */
  height: 6px; /* Para scroll horizontal si lo hubiera */
}

/* 2. El fondo del carril (Track) */
.pinElements::-webkit-scrollbar-track {
  background: transparent; /* Invisible para que no ocupe espacio visual */
}

/* 3. La barrita que se mueve (Thumb) */
.pinElements::-webkit-scrollbar-thumb {
  background-color: rgba(
    49,
    54,
    59,
    0.568
  ); /* Gris muy suave como tus bordes */
  transition: background 0.2s;
}

/* 4. Cuando el usuario pasa el mouse sobre la barrita */
.pinElements::-webkit-scrollbar-thumb:hover {
  background-color: rgba(27, 31, 35, 0.3); /* Se oscurece un poco al tocarlo */
}
