.CopyButtonsDiv {
  display: flex;
  gap: 0.5rem;
}

.CopyButtonsDiv__b {
  min-width: 45px;
  background-color: white;
  border: 1px solid rgb(211, 206, 206);
  transition: background-color 0.3s ease;
}

.CopyButtonsDiv__b:hover {
  background-color: rgb(88, 88, 88);
}
.CopyButtonsDiv__b:active {
  background-color: bisque;
}
