.pCard{
    /* outline: 1px solid red; */
    /* width: 33.3%; */
    height: 25rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0 20px 25px -5px rgba(67, 71, 85, 0.1), 0 10px 10px -5px rgba(67, 71, 85, 0.04);
    font-family: "Open Sans", sans-serif; 
    transform: scale(1);
    transition: transform .5s ease;
}

.pCard:hover{
    transform: scale(1.02);
}

.pCard__divImg{
    background-color: rgb(105, 74, 15);
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.pCard__divImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.pCard__show{
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    transition: transform .5s ease;
}
.pCard__mainView{
    padding-bottom: .5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
}
.pCard:hover .pCard__show{
    transform: translateY(-15rem);
    min-height: 30rem;
}
.pCard__title{
    text-transform: uppercase;
    font-size: .9rem;

}
.pCard__colection{
    color: gray;
    text-transform: uppercase;
    font-size: .7rem;
}
.pCard__price{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--emphasis-color);
    /* background-color: black; */
    
}
.pCard__divTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.pCard__subTitle{
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.pCard__pin{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.pCard__text{
    font-size: .8rem;
    white-space: pre-line; 
}