.pCard{
    outline: 1px solid red;
    width: 45%;
    padding: 1rem;
    position: relative;
}
.pCard__divImg{
    background-color: rgb(105, 74, 15);
    min-height: 7rem;
}
.pCard__divImg img{
    width: 100%;
}
.pCard__divTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pCard__pin{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.pCard__text{
    white-space: pre-line; 
}