/* PM -> Pre-marked styles, just for write less code */
.PM-internalPadding {
  padding: 1rem;
}

.PM-outline1pxsolidblack {
  outline: 1px solid black;
}

button {
  /* font-size: 8px; */
  border: none;
  padding: 0.5rem 1rem;
}

button:active {
  background-color: rgb(106, 109, 109);
}
