.rigth__controls {
  display: flex;
  position: sticky;
  top: 0rem;
  z-index: 2;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}
.productSearchDiv {
  width: 70%;
  display: block;
  position: relative;

  transition:
    border 0.5s ease,
    box-shadow 0.5s ease;
}
